/* ############################################################################################################ */
/* ##   ______  __      __  _______   ________  _______    ______   __    __   ______   __    __  ________   ## */
/* ##  /      \|  \    /  \|       \ |        \|       \  /      \ |  \  |  \ /      \ |  \  /  \|        \  ## */
/* ## |  $$$$$$\\$$\  /  $$| $$$$$$$\| $$$$$$$$| $$$$$$$\|  $$$$$$\| $$\ | $$|  $$$$$$\| $$ /  $$| $$$$$$$$  ## */
/* ## | $$   \$$ \$$\/  $$ | $$__/ $$| $$__    | $$__| $$| $$___\$$| $$$\| $$| $$__| $$| $$/  $$ | $$__      ## */
/* ## | $$        \$$  $$  | $$    $$| $$  \   | $$    $$ \$$    \ | $$$$\ $$| $$    $$| $$  $$  | $$  \     ## */
/* ## | $$   __    \$$$$   | $$$$$$$\| $$$$$   | $$$$$$$\ _\$$$$$$\| $$\$$ $$| $$$$$$$$| $$$$$\  | $$$$$     ## */
/* ## | $$__/  \   | $$    | $$__/ $$| $$_____ | $$  | $$|  \__| $$| $$ \$$$$| $$  | $$| $$ \$$\ | $$_____   ## */
/* ##  \$$    $$   | $$    | $$    $$| $$     \| $$  | $$ \$$    $$| $$  \$$$| $$  | $$| $$  \$$\| $$     \  ## */
/* ##   \$$$$$$     \$$     \$$$$$$$  \$$$$$$$$ \$$   \$$  \$$$$$$  \$$   \$$ \$$   \$$ \$$   \$$ \$$$$$$$$  ## */
/* ##                                                                                                        ## */
/* ## Created by Cybersnake                                                                                  ## */
/* ############################################################################################################ */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14.2px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 15px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
}

#workspaces button {
    padding-right: 0px;
    padding-left:  0px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #f5a97f;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 15px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 15px;
}

#cava,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#workspaces,
#tray,
#memory,
#disk,
#backlight,

#backlight {
    background: #000000;
    opacity: 1.0;
    padding: 3px 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-left: 5px;
}

#tray {
    border-radius: 15px;
    margin-right: 5px;
}

#workspaces {
    background: #000000;
    border-radius: 15px;
    margin-left: 5px;
    padding-right: 1px;
}

#window {
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6e3a1;
    border-radius: 15px 15px 15px 15px;
}

#network {
    color: #f9e2af;
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-left : 5px;
    padding-right: 2.5px;
    padding-left: 5px;
}

#custom-updates {
    color: #89b4fa;
    border-radius: 15px 15px 15px 15px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  5px;
    margin-right: 0px;
}


#memory {
    color: #89b4fa;
    border-radius: 15px 15px 15px 15px;
    margin-left: 5px;
}

#disk {
    color: #a6e3a1;
    border-radius: 15px 15px 15px 15px;
    margin-left: 5px;
}


#bluetooth {
  color: #89b4fa;
  border-radius: 15px 15px 15px 15px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: #89b4fa;
  border-radius: 15px 0px 0px 15px;
  margin-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 15px 15px 0px;
    margin-left: 0px;
}

#battery {
    color: #a6e3a1;
    border-radius: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-left: 5px;
}

#battery.critical:not(.charging) {
  background-color:           #F53C3C;
  color:                      #EEEEEE;
  animation-name:             blink;
  animation-duration:         0.4s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
}
