/* ############################################################################################################ */
/* ##   ______  __      __  _______   ________  _______    ______   __    __   ______   __    __  ________   ## */
/* ##  /      \|  \    /  \|       \ |        \|       \  /      \ |  \  |  \ /      \ |  \  /  \|        \  ## */
/* ## |  $$$$$$\\$$\  /  $$| $$$$$$$\| $$$$$$$$| $$$$$$$\|  $$$$$$\| $$\ | $$|  $$$$$$\| $$ /  $$| $$$$$$$$  ## */
/* ## | $$   \$$ \$$\/  $$ | $$__/ $$| $$__    | $$__| $$| $$___\$$| $$$\| $$| $$__| $$| $$/  $$ | $$__      ## */
/* ## | $$        \$$  $$  | $$    $$| $$  \   | $$    $$ \$$    \ | $$$$\ $$| $$    $$| $$  $$  | $$  \     ## */
/* ## | $$   __    \$$$$   | $$$$$$$\| $$$$$   | $$$$$$$\ _\$$$$$$\| $$\$$ $$| $$$$$$$$| $$$$$\  | $$$$$     ## */
/* ## | $$__/  \   | $$    | $$__/ $$| $$_____ | $$  | $$|  \__| $$| $$ \$$$$| $$  | $$| $$ \$$\ | $$_____   ## */
/* ##  \$$    $$   | $$    | $$    $$| $$     \| $$  | $$ \$$    $$| $$  \$$$| $$  | $$| $$  \$$\| $$     \  ## */
/* ##   \$$$$$$     \$$     \$$$$$$$  \$$$$$$$$ \$$   \$$  \$$$$$$  \$$   \$$ \$$   \$$ \$$   \$$ \$$$$$$$$  ## */
/* ##                                                                                                        ## */
/* ## Created by Cybersnake                                                                                  ## */
/* ############################################################################################################ */

@import "colors.css";  

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(21, 18, 27, 0); */
     background: transparent;
}

tooltip {
    background: @shadow;
    border-radius: 8px;
    border-width: 2.5px;
    border-style: solid;
    border-color: @primary;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: @surface_variant;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#workspaces button.active {
    color: @error_container;
}

#workspaces button.focused {
    color: @primary;
    background: #eba0ac;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 20px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 20px;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-player,
#workspaces,
#tray,
#memory,
#disk,
#backlight,
#network.speed,

#backlight {
    background: transparent;
    /* color : @tertiary_fixed_dim; */
    opacity: 1.0;
    padding: 2px 2px 2px 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 7px;
    margin-left: 7px;
}

#tray {
    border-radius: 20px;
    margin-right: 20px;
}

#workspaces {
    background: transparent;
    border-radius: 20px;
    margin-left: 5px;
}

#window {
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @error_container;
    border-radius: 20px 20px 20px 20px;
    margin-right: 3px;
    margin-left: 3px;
}

#network {
    color: @tertiary_fixed;
    border-radius: 20px 20px 20px 20px;
    margin-right: 5px;
}

#network.speed {
    color: @tertiary_fixed_dim;
    border-radius: 20px 20px 20px 20px;
    margin-right: 5px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 20px 20px 20px 20px;
    padding-left:  9px;
    padding-right: 12px;
    margin-left:   2px;
    margin-right:  2px;

}

#custom-updates {
    color: @tertiary;
    border-radius: 20px 20px 20px 20px;
    margin-left:  5px;
    margin-right: 0px;
}

#custom-player {
 color: #cba6f7;
 border-radius: 20px 20px 20px 20px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: @tertiary_container;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}

#disk {
    color: #f9e2af;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}


#bluetooth {
  color: @error_container;
  border-radius: 20px 20px 20px 20px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: @tertiary_container;
  border-radius: 20px 0px 0px 20px;
  margin-right: 0px;
}

#pulseaudio.microphone {
    color: @tertiary_fixed;
    border-radius: 0px 20px 20px 0px;
    margin-left: 0px;
}

#battery {
    color: @surface_tint;
    border-radius: 20px 20px 20px 20px;
    margin-right: 5px;
    margin-left: 5px;
}

/* #battery.critical:not(.charging) { */
/*   background-color:           #F53C3C; */
/*   color:                      #EEEEEE; */
/*   animation-name:             blink; */
/*   animation-duration:         0.5s; */
/*   animation-timing-function:  linear; */
/*   animation-iteration-count:  infinite; */
/*   animation-direction:        alternate; */
/* } */
