@import "./colors.css";

* {
  background: transparent;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: @foreground;
  margin: 0.5px 0px 0.5px 0.5px;
}

#waybar {
  background: alpha(shade(@foreground, 0.4), 0.1);
  min-height: 20px;
}

#tray menu,
tooltip {
  background: @background;
  color: @active;
  border: 1px solid shade(@active, 0.4);
}

#scroll,
#clock,
#hardware,
#scripts,
#batteries,
#workspaces,
#tray {
  background: alpha(@background, 0.8);
  border-radius: 8px;
  padding: 2px;
  margin-right: 4px;

  /* border: 1px solid alpha(shade(@active, 0.4),0.4); */
}

#tray {
  padding: 0px 8px 0px 8px;
}

#workspaces button {
  padding: 0px;
  border-radius: 10%;
  color: shade(@background, 0.8);
}
#workspaces button.urgent {
  text-decoration: underline;
  font-weight: bold;
}
#workspaces button.active {
  background: shade(alpha(@foreground, 0.3), 0.8);
  color: shade(@foreground, 1.0);
  border-radius: 10px;
}

#clock,
#network,
#custom-updates,
#bluetooth,
#disk,
#memory,
#pulseaudio,
#pulseaudio.mic,
#backlight {
  padding: 0px 6px 0px 6px;
}
#custom-updates,

#pulseaudio,
#pulseaudio.mic {
  color: #7aa2f7;
}

#network {
  border-radius: 10px 10px 10px 10px;
}

#network.disabled,
#network.disconnected {
  color: #d78787;
}
@keyframes blink {
  to {
    background-color: alpha(red, 0.4);
    color: @foreground;
  }
}
@keyframes blink-blue {
  to {
    background-color: alpha(#7aa2f7, 0.4);
    color: @foreground;
  }
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth.discoverable,
#bluetooth.discovering,

/* Override */

#batteries {
  margin-right: 2px;
  border-radius: 10px 10px 10px 10px;
}
#clock {
  margin-left: 2px;
  border-radius: 8px 8px 8px 8px;
  background: alpha(@background, 0.9);
}
