/* ############################################################################################################ */
/* ##   ______  __      __  _______   ________  _______    ______   __    __   ______   __    __  ________   ## */
/* ##  /      \|  \    /  \|       \ |        \|       \  /      \ |  \  |  \ /      \ |  \  /  \|        \  ## */
/* ## |  $$$$$$\\$$\  /  $$| $$$$$$$\| $$$$$$$$| $$$$$$$\|  $$$$$$\| $$\ | $$|  $$$$$$\| $$ /  $$| $$$$$$$$  ## */
/* ## | $$   \$$ \$$\/  $$ | $$__/ $$| $$__    | $$__| $$| $$___\$$| $$$\| $$| $$__| $$| $$/  $$ | $$__      ## */
/* ## | $$        \$$  $$  | $$    $$| $$  \   | $$    $$ \$$    \ | $$$$\ $$| $$    $$| $$  $$  | $$  \     ## */
/* ## | $$   __    \$$$$   | $$$$$$$\| $$$$$   | $$$$$$$\ _\$$$$$$\| $$\$$ $$| $$$$$$$$| $$$$$\  | $$$$$     ## */
/* ## | $$__/  \   | $$    | $$__/ $$| $$_____ | $$  | $$|  \__| $$| $$ \$$$$| $$  | $$| $$ \$$\ | $$_____   ## */
/* ##  \$$    $$   | $$    | $$    $$| $$     \| $$  | $$ \$$    $$| $$  \$$$| $$  | $$| $$  \$$\| $$     \  ## */
/* ##   \$$$$$$     \$$     \$$$$$$$  \$$$$$$$$ \$$   \$$  \$$$$$$  \$$   \$$ \$$   \$$ \$$   \$$ \$$$$$$$$  ## */
/* ##                                                                                                        ## */
/* ## Rofi General Config                                                                                    ## */
/* ## Created by Cybersnake                                                                                  ## */
/* ############################################################################################################ */

@import "colors.rasi"

configuration {
	modi:                       "drun,filebrowser";
    show-icons:                 false;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
  font:                "JetBrainsMono Nerd Font Mono Bold 13";
}
window {
  // background-color: transparent;
  width:            35%;
  padding:          15px;
  fullscreen:       false;
  border:           5px solid;
  border-radius:    10px;
  border-color:     @tertiary-container;
  /* Backgroud Image */
  background-image:          url("~/.config/hypr/wallpaper/rofi-cropped.png", none);
}

mainbox {
  background-color: transparent;
  spacing:          10px;
  border-radius:    10px;
  children:                    [ "inputbar", "mode-switcher", "message", "listview" ];
}

message {
  padding:          10px;
  background-color: transparent;
  border-radius:    10px;
}

textbox {
  background-color: transparent;
  text-color:       @tertiary-container;
  border-radius:    10px;
}

inputbar {
  background-color: transparent;
  spacing:          0;
  padding:          8px 10px;
  border-radius:    10px;
  children:         [ prompt, entry, case-indicator ];
}

prompt {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          0 10px;
  border-radius:    10px;
}

entry {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          0 6px;
  border-radius:    10px;
}

case-indicator {
  background-color: transparent;
  text-color:       #1e1e2e;
  padding:          6px 10px;
  border-radius:    10px;
}

listview {
  background-color: transparent;
  border-radius:    10px;
  fixed-height:     false;
  dynamic:          true;
  scrollbar:        false;
  spacing:          2px;
  padding:          5px 0 0 0;
  margin:           4px 4px 4px 4px;
}

/* ── Element base ───────────────────────────────────────── */
element {
  border-radius: 10px;
}

element normal.normal {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          15px 15px;
}

element normal.urgent {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          0 15px;
}

element normal.active {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          0 15px;
}

element selected.normal {
  background-color: @tertiary-container;
  text-color:       @shadow;
  padding:          0 15px;
}

element selected.urgent {
  background-color: transparent;
  text-color:       @error-container;
  padding:          0 15px;
}

element selected.active {
  background-color: transparent;
  text-color:       @shadow;
  padding:          0 15px;
}

element alternate.normal {
  background-color: transparent;
  text-color:       @tertiary-container;
  padding:          0 15px;
}

element alternate.urgent {
  background-color: @on-primary;
  text-color:       @error-container;
  padding:          0 15px;
}

element alternate.active {
  background-color: @on-primary;
  text-color:       @shadow;
  padding:          0 15px;
}

/* ── Mode switcher ──────────────────────────────────────── */
mode-switcher {
  background-color: @on-primary;
  border-radius:    20px;
}

button {
  background-color: @on-primary;
  text-color:       @error-container;
  border-radius:    20px;
}

button selected {
  background-color: @tertiary-container;
  text-color:       @on-primary;
  border-radius:    20px;
}
