/* ############################################################################################################ */
/* ##   ______  __      __  _______   ________  _______    ______   __    __   ______   __    __  ________   ## */
/* ##  /      \|  \    /  \|       \ |        \|       \  /      \ |  \  |  \ /      \ |  \  /  \|        \  ## */
/* ## |  $$$$$$\\$$\  /  $$| $$$$$$$\| $$$$$$$$| $$$$$$$\|  $$$$$$\| $$\ | $$|  $$$$$$\| $$ /  $$| $$$$$$$$  ## */
/* ## | $$   \$$ \$$\/  $$ | $$__/ $$| $$__    | $$__| $$| $$___\$$| $$$\| $$| $$__| $$| $$/  $$ | $$__      ## */
/* ## | $$        \$$  $$  | $$    $$| $$  \   | $$    $$ \$$    \ | $$$$\ $$| $$    $$| $$  $$  | $$  \     ## */
/* ## | $$   __    \$$$$   | $$$$$$$\| $$$$$   | $$$$$$$\ _\$$$$$$\| $$\$$ $$| $$$$$$$$| $$$$$\  | $$$$$     ## */
/* ## | $$__/  \   | $$    | $$__/ $$| $$_____ | $$  | $$|  \__| $$| $$ \$$$$| $$  | $$| $$ \$$\ | $$_____   ## */
/* ##  \$$    $$   | $$    | $$    $$| $$     \| $$  | $$ \$$    $$| $$  \$$$| $$  | $$| $$  \$$\| $$     \  ## */
/* ##   \$$$$$$     \$$     \$$$$$$$  \$$$$$$$$ \$$   \$$  \$$$$$$  \$$   \$$ \$$   \$$ \$$   \$$ \$$$$$$$$  ## */
/* ##                                                                                                        ## */
/* ## Created by Cybersnake                                                                                  ## */
/* ############################################################################################################ */

@media (prefers-color-scheme: dark) {

  /* Global for all about: pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #cdd6f4 !important;
      --in-content-page-background: #000000 !important;
      --color-accent-primary: #b4befe !important;
      --color-accent-primary-hover: rgb(206, 212, 254) !important;
      --color-accent-primary-active: rgb(189, 180, 254) !important;
    }

    body, groupbox, moz-card, button, groupbox menulist,
    .main-content {
      background: #000000 !important;
      color: #cdd6f4 !important;
    }
  }

  /* about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {
    :root {
      --newtab-background-color: #000000 !important;
      --newtab-background-color-secondary: #000000 !important;
      --newtab-text-primary-color: #cdd6f4 !important;
      --newtab-wordmark-color: #cdd6f4 !important;
      --newtab-primary-action-background: #cdd6f4 !important;
    }

    .icon { color: #b4befe !important; }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #b4befe !important;
    }

    .top-site-outer .search-topsite {
      background-color: #cdd6f4 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6e3a1 !important;
    }
  }

  /* about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --link-color: #b4befe !important;
      --link-color-hover: rgb(206, 212, 254) !important;
      --zen-primary-color: #b4befe !important;
    }

    .identity-color-blue     { --identity-tab-color: #8aadf4 !important; --identity-icon-color: #8aadf4 !important; }
    .identity-color-turquoise{ --identity-tab-color: #8bd5ca !important; --identity-icon-color: #8bd5ca !important; }
    .identity-color-green    { --identity-tab-color: #a6da95 !important; --identity-icon-color: #a6da95 !important; }
    .identity-color-yellow   { --identity-tab-color: #eed49f !important; --identity-icon-color: #eed49f !important; }
    .identity-color-orange   { --identity-tab-color: #f5a97f !important; --identity-icon-color: #f5a97f !important; }
    .identity-color-red      { --identity-tab-color: #ed8796 !important; --identity-icon-color: #ed8796 !important; }
    .identity-color-pink     { --identity-tab-color: #f5bde6 !important; --identity-icon-color: #f5bde6 !important; }
    .identity-color-purple   { --identity-tab-color: #c6a0f6 !important; --identity-icon-color: #c6a0f6 !important; }
  }

  /* about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --background-color-box: #000000 !important;
    }
  }

  /* about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --social-color: #cba6f7 !important;
      --coockie-color: #89dceb !important;
      --fingerprinter-color: #f9e2af !important;
      --cryptominer-color: #b4befe !important;
      --tracker-color: #a6e3a1 !important;
      --in-content-primary-button-background-hover: #000000 !important;
      --in-content-primary-button-text-color-hover: #cdd6f4 !important;
      --in-content-primary-button-background: #000000 !important;
      --in-content-primary-button-text-color: #cdd6f4 !important;
    }

    .card { background-color: #cdd6f4 !important; }
  }

  /* YouTube */
  @-moz-document domain(youtube.com) {
    *[style*="blur"],
    * {
      filter: none !important;
      backdrop-filter: none !important;
    }

    ytd-watch-flexy[ambient-mode-enabled] #cinematics-container {
      display: none !important;
    }
  }

html, body {
    margin: 0 !important;
    padding: 0 !important;
}
}
